@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
}

/* Start Header */
header{
    height: 100vh;
    background-image:linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) , url('../img/navigation/bg7.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}


/* Start Navbar */
.navbar{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); 
    padding: 10px 30px;
}

.navmenus{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    padding: 5px 30px;
}

.brandnames{
    font-variant: small-caps;
}

.brandnames span:nth-of-type(1){
    color: #7716de;
}

.brandnames span:nth-of-type(2){
    color: #2da4ed;
}

.brandnames span:nth-of-type(3){
    color: #fc3030;
}

.menuitems{
    color: #eee;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.menuitems:hover{
    color: #a077e6;
}

.drops{
    color: #fff;
    background: transparent;
    font-size: 20px;
    margin-right: 4px;
    
    transition: all 0.2s;
}

.drops:hover{
    /* color: #2da4ed; */
    color: red;
}


.dmenus{
    background: rgba(0,0,0,0.3);
}

.ditems{
    color: #fff;
    
}

.ditems:hover{
    background: transparent;
    color: #2da4ed;
    font-size: 18px;
    /* text-shadow: 0 0 5px#66a3ff; */
    text-shadow: 0 0 5px rgba(0,0,0,1);
}

.lines1,.lines2,.lines3{
    width: 23px;
    height: 3px;
    margin: 5px;

    transition: all 0.4s;
}

.changes .lines1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.changes .lines2{
    opacity: 0;
}

.changes .lines3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* End Navbar */


/* Start Banner */
.banners{
    width: 600px;

    position: absolute;
    top: 30%;
    left: 10%;

    /* transform: translate(-50%); */
}

.banners h1{
    font-weight: 400;
    margin-bottom: 20px;
}

/* .searches{
    background-color: transparent;
    color: #fff;
    margin-top: 30px;
    margin-right: 10px;
} */

.bannerheaders{
    animation: bani 2s;
}

.bannerheaders span:nth-of-type(1){
    text-shadow: 0 5px 10px #bb99ff;
}

.bannerheaders span:nth-of-type(2){
    text-shadow: 0 5px 10px #80aaff;
}

.bannerheaders span:nth-of-type(3){
    text-shadow: 0 5px 10px #ff8080;
}


.bannerparagraphs{
    animation: bani 2s 0.5s;
    animation-fill-mode: backwards;
}

.bannersearchs{
    animation: sani 2s 0.7s;
    animation-fill-mode: backwards;
}

.search{
    width: 95%;
    /* height: 40px; */

    /* padding: 10px; */
    font-size: 18px;
}

.fa-search{
    font-size: 23px;
}

@keyframes bani{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes sani {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@media (max-width:800px){
    .banners{
        width: 90%;
        position: absolute;
        top: 30%;
        left: 5%;
    }
}
/* End Banner */

/* End Header */

/* Start Camp Section */
.camps{
    background-color: rgb(13, 17, 55);
}

.campheadings{
    background-color: #fff;
    border-bottom: 5px solid rgb(10, 52, 145);
}

.campimgs{
    transition: all 0.3s ease-in-out;
}

.campimgs:hover{
    transform: scale(1.09);
}

.headings{
    background-color: rgb(25, 33, 102);
    font-size: 16px;
    padding: 15px;

    position: absolute;
    top: -25px;
    right: 25px;
}

.registerbtns{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.registerbtns:hover{
    background-color: #fff;
}

.registerbtns:active{
    transform: scale(0.95);
}
/* End Camp Section */

/*START FAQ*/
.faqsections{
     background:linear-gradient(60deg,#222b40 50%,#ced0d6);
}

.whole-container{
    padding: 0 150px;
}

@media (max-width:780px) {
    .whole-container{
        padding:0 20px;
    }
}

.titles{
    text-shadow:5px 0 5px rgba(0,0,0,0.5);
}

.messagecontainers{
    transform: translateX(-100%);
    opacity: 0;

    animation:movefromleft 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.messagecontainers:nth-child(1){
    animation-delay:0.6s;
}

.messagecontainers:nth-child(2){
    animation-delay:0.7s;
}

.messagecontainers:nth-child(3){
    animation-delay:0.8s;
}

.messagecontainers:nth-child(4){
    animation-delay:0.9s;
}

.messagecontainers:nth-child(5){
    animation-delay: 1s;
}

.btnplus .fa-plus{
    color:royalblue;
}

.btnplus{
    transition:all 0.3s ease-in;
}

.rotatebtn{
    transform:rotate(45deg);
    transition:all 0.3s ease-out;
}

.btnplus.rotatebtn .fa-plus{
    color:red;
}

#faqtext1,#faqtext2,#faqtext3,#faqtext4,#faqtext5{
    /* background-color: rgb(6, 73, 199); */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@keyframes movefromleft {
    0%{
        transform:translateX(-100%);
        opacity:0;
    }
    100%{
        transform:translateX(0%);
        opacity:1;
    }
}
/*END FAQ*/

/* START Student Count */
.counts-main-container{
    /*height: 35vh;*/
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    /*padding: 105px 0;*/
    margin: -8px;
}

.counts-container{
    width: 100%;
    /*height: inherit;*/

    padding: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}

.counts-title{
    color: rgba(255,255,255,1);
    font-size: 3rem;
    /*text-shadow: 2px 2px 4px yellow,2px 2px 4px red;*/
    text-shadow: 0 2px 5px rgba(206,208,214,1);
    letter-spacing: 5px;

    /*border-bottom: 2px solid rgba(255,255,255,0.6);*/

    position: absolute;
    top: -15px;
}

.counts-div-title{
    width: 100%;
    height: inherit;

    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: start;
}

.counts-div{
    width: 200px;
    height: 200px;
    background-color: transparent;
    color: #fff;

    border: 2px solid rgba(255,255,255,0.8);
    /*box-shadow: 0 0 5px rgba(13,17,55,1);*/

    margin: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.counts-circle{
    width: 66%;
    height: 66%;
    background-color: transparent;

    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(13,17,55,1);

    /*padding: 10px;*/

    position: absolute;
    top: 10%;
    left: 17%;
}

.counts-circle span{
    /*color: rgba(13,17,55,1);*/
    font-size: 2.3rem;
    /*text-shadow: 2px 0 10px rgba(13,17,55,1);*/

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.counts-div p{
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px rgba(13,17,55,1);
    position: absolute;
    bottom: -10px;
}

.counts-div:nth-of-type(2){
    animation-name: counts-ani-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.counts-div:nth-of-type(3){
    animation-name: counts-ani-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.counts-div:nth-of-type(4){
    animation-name: counts-ani-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.counts-div:nth-of-type(5){
    animation-name: counts-ani-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
@keyframes counts-ani-left{
    0%{
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes counts-ani-down{
    0%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes counts-ani-up{
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes counts-ani-right{
    0%{
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0px);
    }
}
/* END Student Count */

/* START Footer Style */
footer{
    font-family: 'Poppins', sans-serif;
    background: #111;
}

hr.bars{
    width:70px;
    height:3px;
    background:#fa0000;
}

.links{
    text-decoration: none;
    color:white; 
}

.links:hover{
    color:#3b6d48;
}
/* END Footer Style */

/* Start Modal Section*/
/* Start Login Modal */
.form-control{
    padding: 7px 35px;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(13, 17, 55);
}

.form-control::placeholder{
    font-size: 14px;
    color: #a0a0a0;
}

.form-group .fas{
    color: rgb(13, 17, 55);

    position: absolute;
    top: 12px;
    left: 15px;
}

form a{
    color: rgb(13, 17, 55);
    font-size: 15px;
}

.loginclosebtns{
    position: absolute;
    top: 15px;
    right: 15px;
}

.signupclosebtns{
    position: absolute;
    top: 15px;
    right: 15px;
}

.resetclosebtns{
    position: absolute;
    top: 0;
    right: -40px;
}

.buttons{
    background-color: rgb(13, 17, 55);
    color: #eee;

    transition: all 0.3s;
}

.buttons:hover{
    background-color: rgb(7, 24, 87);
    color: #eee;
}
/* End Login Modal */
/* End Modal Section */

