@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
}

/* start footer style */
footer{
    font-family: 'Poppins', sans-serif;
    background: #111;
}

hr.bars{
    width:70px;
    height:3px;
    background:#fa0000;
}

.links{
    text-decoration: none;
    color:white; 
}

.links:hover{
    color:#3b6d48;
}
/* end footer style */